body {
    color: rgb(221, 22, 22);
    background-color: #4F8BF9;
}

.stButton>button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #0f0f0e;
    -webkit-border-radius: 36px 12px;;
    height: 3em;
    width: 14em;
}

.stTextInput>div>div>input {
    color: #ec1681;
}